.contact {
  margin: 80px auto;
  max-width: 90%;
  display: flex;
  align-content: center;
  justify-content: space-between;
}

.contact-col {
  flex-basis: 48%;
}

.contact-col h3 {
  font-weight: 600;
  font-size: 25px;
  font-family: "Lora", serif;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.contact-col p {
  display: flex;
  align-items: center;
  margin: 20px 0;
  color: #4a4a4a;
}

.contact-col ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contact-col ul li {
  list-style: none;
  display: flex;
  flex-direction: column;
}

.label {
  font-weight: bold;
  margin-bottom: 4px;
}

.contact form input,
.contact form textarea {
  display: block;
  width: 100%;
  background: #e8e8e8;
  padding: 15px;
  border: 0;
  border-radius: 10px;
  outline: 0;
  margin-bottom: 25px;
  margin-top: 10px;
  resize: none;
}

/* consistent size for placeholders */
form input::placeholder,
form textarea::placeholder {
  font-size: 14px;
}

.contact-col span {
  display: block;
  margin: 20px 0;
}

.contact-col span.value {
  color: #4a4a4a;
}
