.contact {
  margin: 80px auto;
  max-width: 90%;
  display: flex;
  align-content: center;
  justify-content: space-between;
}

.contact-col {
  flex-basis: 48%;
}

.contact-col h3 {
  font-weight: 600;
  font-size: 25px;
  font-family: "Lora", serif;
}
