/* 
  Contact.css
  Styling for the contact section.
*/

/* ==== Contact Us Section Container ==== */
.contact {
  margin: 80px auto; /* Vertical spacing and center alignment */
  max-width: 90%; /* Slight padding for consistency */
  display: flex;
  align-content: center;
  justify-content: space-between; /* Places contact info next to form */
}

/* ==== Column Styling ==== */
.contact-col {
  flex-basis: 48%; /* Each column takes < half width */
}

/* ==== Contact Info Styling ==== */
.contact-col h3 {
  font-weight: 600;
  font-size: 25px;
  font-family: "Lora", serif;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.contact-col p {
  display: flex;
  align-items: center;
  margin: 20px 0;
  color: #4a4a4a;
}

.contact-col ul {
  display: flex;
  flex-direction: column;
  gap: 20px; /* Provides spacing between list items */
}

.contact-col ul li {
  list-style: none;
  display: flex;
  flex-direction: column; /* Stack label and value vertically */
}

.label {
  font-weight: bold;
  margin-bottom: 4px; /* Space between label and value */
}

.contact-col span {
  display: block;
  margin: 10px 0;
}

.contact-col span.value {
  color: #4a4a4a;
}

/* ==== Form Styling ==== */
.contact form input,
.contact form textarea {
  display: block;
  width: 100%;
  background: #e8e8e8;
  padding: 15px;
  border: 0;
  border-radius: 10px;
  outline: 0;
  margin-bottom: 25px;
  margin-top: 10px;
  resize: none; /* No manual resize */
}

/* Consistent font size for input placeholders */
form input::placeholder,
form textarea::placeholder {
  font-size: 14px;
}
