/* 
  File: Contact.css
  Description: Styling for the contact section.
  Author: Kendrick Tan
*/

/* ==== Contact Us Section Container ==== */
.contact {
  margin: 0 auto 6rem; /* Center alignment and bottom space */
  max-width: 90%; /* Slight padding for consistency */
  display: flex;
  align-content: center;
  justify-content: space-between; /* Places contact info next to form */
}

/* ==== Column Styling ==== */
.contact-col {
  flex-basis: 48%; /* Each column takes < half width */
  background: #ffffff;
  border-radius: 12px;
  padding: 2rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.05);
}

/* ==== Contact Info Styling ==== */
.contact-col h3 {
  font-weight: 600;
  font-size: 1.5rem;
  font-family: "Lora", serif;
  display: flex;
  align-items: center;
}

.contact-col p {
  display: flex;
  align-items: center;
  margin: 1.25rem 0;
  color: #4a4a4a;
  line-height: 1.5rem;
}

.contact-col ul {
  display: flex;
  flex-direction: column;
}

.contact-col ul li {
  list-style: none;
  display: flex;
  flex-direction: column; /* Stack label and value vertically */
}

.contact-col span.label {
  margin-bottom: 1.25rem;
  font-weight: bold;
}

.contact-col span.value {
  margin-bottom: 1.25rem;
  color: #4a4a4a;
}

/* ==== Form Styling ==== */
.contact form input,
.contact form textarea {
  display: block;
  width: 100%;
  background: #f4f4f4;
  padding: 1rem;
  border: 0;
  border-radius: 0.75rem;
  outline: 0;
  margin-bottom: 1rem;
  margin-top: 0.75rem;
  resize: none; /* No manual resize */
}

/* Consistent font size for input placeholders */
form input::placeholder,
form textarea::placeholder {
  font-size: 0.9rem;
}

/* ==== Media Query ==== */
@media (max-width: 870px) {
  .contact {
    flex-direction: column;
  }

  .contact-col {
    margin-bottom: 2rem;
  }

  .contact-col p {
    margin: 0.75rem 0;
  }

  .contact-col span.label {
    margin-bottom: 1rem;
  }

  .contact-col span.value {
    margin-bottom: 1rem;
  }
}

@media (max-width: 414px) {
}
