/* 
  File: Title.css
  Description: Styling for the reusable titles.
  Author: Kendrick Tan
*/

/* Import Lora font from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap");

/* ==== Heading ==== */
.title {
  text-align: center;
  margin-bottom: 4rem;
}

.title p {
  color: black;
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  margin: 3rem 0 2rem;
}

/* ==== Subheading ==== */
.title h2 {
  font-size: 3rem;
  color: #ff3300;
  margin-top: 0.25rem;
  text-transform: none;
  font-family: "Lora", serif;
}

/* ==== Media Query ==== */
@media (max-width: 1100px) {
  .title p {
    font-size: 1.5rem;
  }

  .title h2 {
    font-size: 2.5rem;
  }
}
