.gallery {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 30px;
}

.gallery img {
  width: 100%;
  cursor: pointer;
  border-radius: 5%;
  transition: all 0.3s ease;
}

.gallery img:hover {
  transform: scale(1.1);
}
