.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
}

.gallery > * {
  flex: 1 1 250px;
  max-width: 250px;
}

.gallery img {
  width: 100%;
  border-radius: 5%;
  transition: all 0.3s ease;
}

.gallery img:hover {
  transform: scale(1.1);
}
