/* 
  Gallery.css
  Styling for the product gallery.
*/

/* ==== Image Gallery Container ==== */
.gallery {
  display: flex; /* To display images in rows */
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px; /* Spacing between images*/
}

/* ==== Individual Gallery Items ==== */
.gallery > * {
  flex: 1 1 250px;
  max-width: 250px;
}

/* ==== Image Styling ==== */
.gallery img {
  width: 100%;
  border-radius: 5%; /* Slight rounding */
  transition: all 0.3s ease;
}

/* Hover Effect */
.gallery img:hover {
  transform: scale(1.1); /* Zoom-in effect on img hover */
}
