/* 
  File: Hero.css
  Description: Styling for the hero section.
  Author: Kendrick Tan
*/

/* Import Lora font from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap");

/* ==== Hero Container ====*/
.hero {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../../assets/hero.jpg"); /* Main background image */
  background-size: cover;
  background-position: center;
}

/* ==== Hero Headline ==== */
.hero h1 {
  font-family: "Lora", serif;
  color: rgb(255, 255, 255);
  position: absolute;
  bottom: 8rem;
  left: 4rem;
}
