@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap");

.hero {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../../assets/top.jpg");
  background-size: cover;
  background-position: center;
}

.hero h1 {
  font-family: "Lora", serif;
  color: rgb(255, 255, 255);
  position: absolute;
  bottom: 180px;
  left: 30px;
}
