/* 
  About.css
  Styling for the about section.
*/

/* Import Lora font from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap");

/* ==== About Section Container ==== */
.about-container {
  margin: 0px auto; /* Center container */
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 90%; /* Creates padding from screen edge */
  gap: 50px; /* Vertical gap between blocks */
}

/* ==== Section Blocks (What We Do/Why We Do It)  ==== */
.about-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 15px;
}

/* ==== Image Container and Styling ==== */
.about-img {
  flex-basis: 40%;
}

.about-img-size {
  width: 650px;
  height: 450px;
  margin-right: 15px;
  border-radius: 10px;
}

/* ==== Text Container ==== */
.about-text {
  flex-basis: 56%;
}

/* ==== Headings and Paragraphs Styling ==== */
.about-container h2 {
  margin-bottom: 10px;
  font-size: 16px;
  text-align: center;
}

.about-container h1 {
  font-family: "Lora", serif;
  font-weight: 600;
  font-size: 26px;
  text-align: center;
  color: #ff3300;
  margin-bottom: 10px;
}

.about-container p {
  line-height: 30px;
  color: #4a4a4a;
}
