/* 
  File: Navbar.css
  Description: Styling for the navigation bar.
  Author: Kendrick Tan
*/

/* Import Lora font from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap");

/* ==== General Styling for Navbar ==== */
nav {
  width: 100%;
  padding: 0.25rem 0;
  transition: 0.5s; /* Smooth color transition on scroll */
  color: black;
  background: #f5f5f5; /* Default light mode */
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 10; /* Keeps navbar on top of other elements */
}

/* ==== Logo Styling ==== */
.logo {
  width: 7.5rem;
}

.logo-container {
  display: flex;
  align-items: center;
  cursor: pointer;
}

/* ==== Brand Text ==== */
.logo-text {
  margin-left: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo-text h1 {
  font-family: "Lora", serif;
  color: #ff3300;
  font-size: 1.5rem;
}

.logo-text h2 {
  color: black;
  font-size: 1rem;
}

/* ==== Navigation Links ==== */
.navbar ul li {
  display: inline-block;
  list-style: none;
  margin: 0.25rem 2.5rem;
  font-size: 1.25rem;
  transition: color 0.3s ease;
  cursor: pointer;
}

.navbar ul li:hover {
  color: #ff3300;
  text-decoration: underline;
}

/* ==== Dark Navbar Styles ==== */
.dark-nav {
  background-color: black;
  transition: 0.5s;
  color: #f5f5f5;
}

.dark-nav h2 {
  color: #f5f5f5;
}

/* ==== Media Query ==== */
@media (max-width: 1100px) {
  .logo {
    width: 5rem;
  }
  .logo-text h1 {
    font-size: 1.25rem;
  }
  .logo-text h2 {
    font-size: 0.75rem;
  }

  .navbar ul li {
    font-size: 1rem;
    margin: 0.25rem 2rem;
  }
}
