/* 
  File: Navbar.css
  Description: Styling for the navigation bar.
  Author: Kendrick Tan
*/

/* Import Lora font from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap");

/* ==== General Styling for Navbar ==== */
nav {
  width: 100%;
  padding: 4px 0;
  transition: 0.5s; /* Smooth color transition on scroll */
  color: black;
  background: #f5f5f5; /* Default light mode */
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 10; /* Keeps navbar on top of other elements */
}

/* ==== Logo Styling ==== */
.logo {
  width: 120px;
}

.logo-container {
  display: flex;
  align-items: center;
  cursor: pointer;
}

/* ==== Brand Text ==== */
.navbar h1 {
  font-family: "Lora", serif;
  color: #ff3300;
  font-size: 25px;
}

.navbar h2 {
  position: fixed;
  color: black;
  font-size: 14px;
}

/* ==== Navigation Links ==== */
.navbar ul li {
  display: inline-block;
  list-style: none;
  margin: 5px 40px;
  font-size: 18px;
  transition: color 0.3s ease;
  cursor: pointer;
}

.navbar ul li:hover {
  color: #ff3300;
  text-decoration: underline;
}

/* ==== Dark Navbar Styles ==== */
.dark-nav {
  background-color: black;
  transition: 0.5s;
  color: #f5f5f5;
}

.dark-nav h2 {
  color: #f5f5f5;
}
