@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap");

nav {
  width: 100%;
  padding: 4px 0;
  color: black;
  background: white;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
}

.logo {
  width: 120px;
}

.navbar h1 {
  position: absolute;
  font-family: "Lora", serif;
  left: 200px;
  bottom: 50px;
  font-size: 25px;
}

.navbar h2 {
  position: absolute;
  color: #ff4000;
  left: 370px;
  bottom: 30px;
  font-size: 14px;
}

.navbar ul li {
  display: inline-block;
  list-style: none;
  margin: 5px 40px;
  font-size: 18px;
}
