@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

* {
  /* applies to whole website*/
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

body {
  /* main bg color */
  background: #f5f5f5;
}

.container {
  /* applies to all "container" elements */
  padding-left: 5%;
  padding-right: 5%;
}

.btn {
  background: #ff3300;
  color: #f5f5f5;
  padding: 14px 25px;
  font-size: 16px;
  border-radius: 30px;
  cursor: pointer;
  border: 0;
  outline: 0;
  transition: color 0.3s ease;
}

.btn:hover {
  color: black;
  text-decoration: underline;
}
