/*
  File: index.css
  Description: General stylings for the entire webpage.
  Author: Kendrick Tan
*/

/* Import Lato font from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

/* Global Settings */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

/* Main BG color */
body {
  background: #f5f5f5;
  font-size: 1rem;
}

/* Horizontal Padding for Consistency */
.container {
  padding-left: 5%;
  padding-right: 5%;
}

/* General Button Styling */
.btn {
  background: #ff3300;
  color: #f5f5f5;
  padding: 1rem 1.5rem;
  font-size: 1rem;
  border-radius: 2rem;
  cursor: pointer;
  border: 0;
  outline: 0;
  transition: color 0.3s ease;
  display: inline-block;
  text-align: center;
}

/* Hover Effect for Style */
.btn:hover {
  color: black;
  text-decoration: underline;
}

/* Top Padding for react-scroll & navbar */
.section {
  padding-top: 6rem;
}

/* ==== Media Query ==== */

@media (max-width: 1100px) {
  .btn {
    padding: 0.75rem 1rem;
    font-size: 0.75rem;
  }
  .section {
    padding-top: 4rem;
  }
}
